@import url('https://fonts.googleapis.com/css?family=Exo');

body {
  font-family: 'Exo', sans-serif;
}
.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.header-img {
  width: 50%;
  margin: 8em 5em;
  animation: float 1.5s ease forwards;
}

svg {
   margin: 10em 5em;
   height: auto;
   width: auto;
   filter: drop-shadow( 5px 5px 5px #000 );
}
.my-name {
   display: grid;
   margin: auto;
   grid-template-columns: auto;
}
.moe {
   stroke: #000;
   stroke-width:2;
   fill: none;
   stroke-dasharray: 512;
   stroke-dashoffset: 512;
   transition: all 3s;
   animation: draw 2s linear .5s forwards,  fade 4s linear 3.5s forwards;
}
.himed {
   stroke: #000;
   stroke-width:2;
   fill: none;
   stroke-dasharray: 512;
   stroke-dashoffset: 512;
   transition: all 3s;
   animation: draw-next 2s linear 2s forwards, fade 4s linear 3.5s forwards;
}
.float {
   animation: float 3s linear 2s forwards;
   transition: all 4s;
   opacity: 0;

}
.mybody-wrapper {
  text-align: center;
  margin: 0 auto;
}
.mybody {
  display: grid;
  grid-template-columns: auto auto;
}

/* Media  Queries */
@media screen and (max-width: 767px) {
  svg {
    margin: 0em auto;
  }
  .grid-container {
     grid-template-columns: auto  ;
  }
  .header-img {
      margin: 2em;
  }
}
 

/* Animation Keyframes */
 @keyframes draw {
     100% {
         stroke-dashoffset: 0;

    }
}
 @keyframes draw-next {
     100% {
         stroke-dashoffset: 0;
    }
}
 @keyframes fade {
     from {
         fill: #fff;
    }
     to {
         fill: #019DE4;
;
    }
}
 @keyframes float {
     from {
          transform: translateY(200px);
          opacity: 0;
    }
     to {
          transform: translateY(0px);
          opacity: 1
    }
}
